#content{

width: 712px;
margin-left: 20%;
}

.header img {
float: left;
border-bottom: 1px solid black;

}

.header h1 {
position: relative;
float: left;
font-size: 60px;
padding-left: 150px;
padding-bottom: 33px;
border-bottom: 1px solid black;
}




